<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>silly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="divy">
                <img src="/media/emoji_A.png" class="to-move"/>
            </div>
            <div class="divyB">
                <img src="/media/emojiC.png" class="too-move"/>
            </div>
            <img src="/media/resetButton.png" class="resetBtn"/>
            <p class="paragraphOne">Player 1 = Smiley Face Emoji. Press the Space-Bar to move.</p>
            <p class="paragraphTwo"> Player 2 = Dancing Lady Emoji. Press the Enter-Key to move.</p>
        </div>
    </div>
  </body>
</html>
